DJANGO_SECRET_KEY=GEmwCDqZqePCPFY/zk/gGd3tq8IOLK6QFC6U6Ps1Iwg=
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=setefios.sistema9.com.br
DJANGO_CSRF_TRUSTED_ORIGINS=https://setefios.sistema9.com.br
DJANGO_SECURE_SSL_REDIRECT=False
DJANGO_SESSION_COOKIE_SECURE=True
DJANGO_CSRF_COOKIE_SECURE=True
DB_ENGINE=postgres
DB_NAME=setefios
DB_USER=setefios
DB_PASSWORD=troque-por-uma-senha-forte
DB_HOST=127.0.0.1
DB_PORT=5432
DJANGO_EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
DJANGO_DEFAULT_FROM_EMAIL=no-reply@setefios.sistema9.com.br
WEBPIC_API_COMPANY=
WEBPIC_API_TOKEN=
WEBPIC_HOME_API_BASE=https://dapic.app/api/home
WEBPIC_SALES_API_BASE=https://api.dapic.app
WEBPIC_BYPASS_PASSWORD=
