[Unit]
Description=Gunicorn Setefios
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/setefios
Environment="PATH=/var/www/setefios/.venv/bin"
ExecStart=/var/www/setefios/.venv/bin/gunicorn config.wsgi:application --bind 127.0.0.1:8050 --workers 3
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
